extends layout


block content
 .tab
   button.tablinks(onclick="openOpcions(event, 'Amigos')") Amigos
   button.tablinks(onclick="openOpcions(event, 'Ranking')") Ranking
   button.tablinks(onclick="openOpcions(event, 'Sonido')") Sonido
   button.tablinks(onclick="openOpcions(event, 'Logout')") Logout

 #Amigos.tabcontent
   span.topright(onclick="this.parentElement.style.display='none'") x
   h3 Amigos
   ul
    each val in values
     li= val

 #Ranking.tabcontent
   span.topright(onclick="this.parentElement.style.display='none'") x
   h3 Mundial
   p Estos son el TOP 3 ➤ 
    ul
     each val in ranking
      li= val

 #Sonido.tabcontent
   span.topright(onclick="this.parentElement.style.display='none'") x
   h3 Sonido
   p 
    | Si quieres activar/desactivar el sonido solo tienes que clicar aqui ➤   
    img#imagen2(src='/images/sondio_de.svg' name='prueba' onmousedown="cambia_imagen();" onclick="sonido()")
    
 #Logout.tabcontent
   span.topright(onclick="this.parentElement.style.display='none'") x
   h3 Gracias por visitarnos!
   a(href="/") Salir
 
 button#start(class='btn btn-success' onclick="Main.startGame()") Start Game

 #formModal.modal
  .modal-dialog
    .modal-content
      .modal-header
        h2.title-modal
      .modal-body
        p.formModal
      .modal-footer

 #contenedor
   #Minutos.reloj 00
   #Segundos.reloj :00
   #Centesimas.reloj :00
   
   //<input type="button" class="boton" id="inicio" value="Start &#9658;" onclick="Crono.start();">
   //<input type="button" class="boton" id="inicio" value="Start &#9658;" onclick="Crono.stop();">

 script.
    function openOpcions(event, opcionsName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(opcionsName).style.display = "block";
    evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();

 script.
  mi_imagen1=new Image
  mi_imagen1.src="/images/sondio_ac.png"

  mi_imagen2=new Image
  mi_imagen2.src="/images/sondio_de.svg"

  var i=1;
  function cambia_imagen() {
  if (i == 1)
  {
    document.images['prueba'].src=mi_imagen1.src;
    i=2;
  }
  else
  {
    document.images['prueba'].src=mi_imagen2.src;
    i=1;
  }
  }

 script.

  var i= true;
  function sonido() {
    console.log("boolean")
    console.log(i)
    if(i)
    {
      document.getElementById('imagenes').pause();
      i= false;
    }
    else if(!i)
    {
      document.getElementById('imagenes').play();
      i= true;
    }
  }

 audio#imagenes(autoplay='true', src='/sonido/starwras-guerra-de-las-galaxias-peliculas-.mp3' loop)