extends layout


block content
 .tab
   button.tablinks(onclick="openOpcions(event, 'Amigos')") Amigos
   button.tablinks(onclick="openOpcions(event, 'Ranking')") Ranking
   button.tablinks(onclick="openOpcions(event, 'Sonido')") Sonido
   button.tablinks(onclick="openOpcions(event, 'Logout')") Logout

 #Amigos.tabcontent
   span.topright(onclick="this.parentElement.style.display='none'") x
   h3 Amigos
   ul#conectados
     each val in values
      li= val

 #Ranking.tabcontent
   span.topright(onclick="this.parentElement.style.display='none'") x
   h3 Mundial
   p Estos son el TOP 3 ➤ 
    ul#conectados
     each val in ranking
      li= val

 #Sonido.tabcontent
   span.topright(onclick="this.parentElement.style.display='none'") x
   h3 Sonido
   p 
    | Si quieres activar/desactivar el sonido solo tienes que clicar aqui ➤   
    img#imagen2(src='/images/sondio_de.png' name='prueba' onmousedown="cambia_imagen()")
    
 #Logout.tabcontent
   span.topright(onclick="this.parentElement.style.display='none'") x
   h3 Gracias por visitarnos!
   form(method='get', action="/logout")
     input(type='submit' class='btn btn-primary' value='Salir')
 
 button#start(class='btn btn-success' onclick="Main.startGame()") Start Game


 div#info
   p
     b INSTRUCCIONES:
     br
     | 1. Hay que evitar que te den los meteoritos
     br
     | 2. Se mas inteligente que tu rival
     br
     | 3. Movimiento del pj:
     li(style="text-align: center;") Arriba -> ⬆
     li(style="text-align: center;") Abajo -> ⬇
     li(style="text-align: center;") Izquierda -> ⬅
     li(style="text-align: center;") Derecha -> ➡

 #formModal.modal
  .modal-dialog
    .modal-content
      .modal-header
        h2.title-modal
      .modal-body
        p.formModal
      .modal-footer

 #contenedor
   #Minutos.reloj 00
   #Segundos.reloj :00
   #Centesimas.reloj :00
   
   //<input type="button" class="boton" id="inicio" value="Start &#9658;" onclick="Crono.start();">
   //<input type="button" class="boton" id="inicio" value="Start &#9658;" onclick="Crono.stop();">

 script.
    function openOpcions(event, opcionsName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(opcionsName).style.display = "block";
    evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();

 script.
  mi_imagen1=new Image
  mi_imagen1.src="/images/sondio_ac.png"

  mi_imagen2=new Image
  mi_imagen2.src="/images/sondio_de.png"

  var i=1;
  function cambia_imagen() {
  if (i == 1)
  {
    document.images['prueba'].src=mi_imagen1.src;
    document.getElementById('imagenes').pause();
    i=2;
  }
  else
  {
    document.images['prueba'].src=mi_imagen2.src;
    document.getElementById('imagenes').play();
    i=1;
  }
  }

 audio#imagenes(autoplay='true', src='/sonido/starwras-guerra-de-las-galaxias-peliculas-.mp3' loop)